
.loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 200px;
}

.reel-item-loader {
  font-family: 'Aesthetic';
  font-size: 180px;
  text-transform: uppercase;
}

.reel-item-outline-loader {
  font-family: 'Aesthetic';
  font-size: 180px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.9px #fbdce2;
  color: transparent;
}

.counter-container {
  text-align: center;
  justify-content: center;
  font-size: 80px;
}

@media (max-width: 480px) {
  .reel-item-loader {
    font-size: 100px;
  } 
  .reel-item-outline-loader {
    font-size: 100px;
  }
}

@media (max-width: 375px) {
  .reel-item-loader {
    font-size: 100px;
  }
  .reel-item-outline-loader {
    font-size: 100px;
  }
}