.navbar {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 100%;
  justify-content: flex-start;
  display: flex;
  z-index: 1;
  mix-blend-mode: difference;
}

.logo-nav {
  position: fixed;
  top: 2%;
  right: 2%;
  justify-content: flex-end;
  display: flex;
  cursor: pointer;
}

.switch {
  top: -33px;
  left: 3%;
  position: fixed;
  opacity: 0;
  display: none;
}

.sound-button {
  position: fixed;
  left: 20%;
}

.toggle-span {
  left: 2000%;
  color: #fbdce2;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

.dark {
  background-color: #131212;
  transition: background-color 0.25s ease-in-out;
}

.light {
  background-color: #08372c;
  transition: background-color 0.25s ease-in-out;
}

.logo {
  width: 40px;
}

.navbar span {
  /* display: block; */
  color: #fbdce2;
  padding: 14px 18px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  cursor: pointer;
}

.nav-item {
  position: relative;
  cursor: pointer;
}

.nav-item:hover > div:nth-child(1) span {
  text-decoration: line-through;
}

.nav-item-text {
  display: block;
  pointer-events: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.nav-item > div:nth-child(1) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.nav-item > div:nth-child(2) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.nav-item:hover > div:nth-child(1) span {
  transform: translate3d(0, -120%, 0) rotateX(150deg);
}

.nav-item:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}

.logo-item > div:nth-child(1) img {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.logo-item > div:nth-child(2) img {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(90deg);
}

.logo-item:hover > div:nth-child(1) img {
  transform: translate3d(0, -120%, 0) rotateX(150deg);
}

.logo-item:hover > div:nth-child(2) img {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}