.projects-main-reel {
  width: 100%;
  top: 5%;
  overflow: hidden;
  display: fixed;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}

.projects-reel {
  margin-top: 20px;
  display: flex;
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  will-change: transform;
  animation: animation-reel 60s infinite linear;
}

/* @keyframes animation-reel {
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(-50%);
  }
} */

.reel-item {
  font-family: 'Aesthetic';
  font-size: 180px;
  text-transform: uppercase;
}

.reel-item-outline {
  font-family: 'Aesthetic';
  font-size: 180px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.9px #fbdce2;
  color: transparent;
}

div.flag {
  width: 100vw;
  height: 100vh;
}

.shape-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
  cursor: grab;
}

.shape-container:active {
  cursor: grabbing;
}

.shape-container img {
  animation-name: rotate; 
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  max-width: 120px;
  position: relative;
  z-index: 1;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.project-wrapper {
  width: 100%;
  padding: 0 300px;
  text-align: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
}

.project-title  {
  transition: opacity 0.35s cubic-bezier(0.77, 0, 0.175, 1);
  font-family: 'Aesthetic';
  font-size: 105px;
  color: #fbdce2;
  z-index: 2;
  overflow: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title:hover {
  color: transparent;
  -webkit-text-stroke: 0.9px #fbdce2;
}

.project-list {
    z-index: 1;
    text-align: center;
    mix-blend-mode: difference;
    justify-content: center;
}

.project-item {
  display: inline-block;
  margin-top: 3%;
  text-align: center;
  justify-content: center;
}

.project-media {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-media img {
  opacity: 0;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 20%;
  object-fit: contain;
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-media img.is-active {
  opacity: 1;
  transition-delay: 0s;
  transition: opacity 0.5s linear, visibility 0s linear 0.2s;
}

.project-line {
  border-bottom: 1px solid #fbdce2;
  mix-blend-mode: difference;
}

.project-page {
  height: 100vh;
  width: 100%;
}

.project-text {
  font-size: 15px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  font-style: normal;
  word-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  margin-top: -6%;
}

.project-text-container {
  width: 100%;
  margin-top: -5%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.project-header {
  font-family: 'Aesthetic';
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
}

.project-image-container {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.project-image {
  max-width: 50%;
  border: solid 1px #fbdce2;
  border-radius: 20px;
}

.link-tag {
  font-size: 15px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  font-style: normal;
  word-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  color: #fbdce2;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 7px;
  background-color: Transparent;
  background-repeat:no-repeat;
border: none;
}

.link-tag.next {
  position: absolute;
  right: 16px;
}

.link-tag.home {
  left: 16px;
}

.link-tag:visited {
  /* color: #929292; */
  opacity: 0;
}

.link-tag::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fbdce2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-tag:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 1200px) {
  .project-text {
    padding: 20px;
  }
  .project-text-container {
    margin-top: -10%;
  }
}

@media (max-width: 820px) {
  .projects-main-reel {
    margin-bottom: 350px;
  }
  .reel-item {
    font-size: 100px;
    display: inline-block;
  }
  .reel-item-outline {
    font-size: 100px;
    -webkit-text-stroke: 0.9px #fbdce2;
    color: transparent;
    display: inline-block;
  }
  .projects-reel {
    display: flex;
    display: inline-block;
  }
  .project-title {
    font-size: 80px;
    text-align: center;
    justify-content: center;
  }
  .project-wrapper {
    justify-content: center;
    text-align: center;
  }
  .project-header {
    font-size: 80px;
  }
  .project-text {
    padding: 30px;
    margin-top: -50px;
  }
  br {
    display: none;
  }
  .project-text {
    font-size: 15px;
  }
  .project-media img {
    max-width: 45%;
  }
}

@media (max-width: 1000px) {
  .project-media img {
    max-width: 35%;
  }
}

@media (max-width: 480px) {
  .reel-item {
    font-size: 100px;
    display: inline-block;
  }
  .reel-item-outline {
    font-size: 100px;
    -webkit-text-stroke: 0.9px #fbdce2;
    color: transparent;
    display: inline-block;
  }
  .projects-reel {
    display: flex;
    display: inline-block;
  }
  .project-title {
    font-size: 50px;
    text-align: center;
    justify-content: center;
  }
  .project-wrapper {
    justify-content: center;
    text-align: center;
    padding: 0 100px;
  }
  .project-header {
    font-size: 50px;
  }
  .project-text {
    padding: 30px;
    font-size: 10px;
    margin-top: -60px;
  }
  br {
    display: none;
  }
  .project-media img {
    max-width: 45%;
  }
}





