.main-container {
  padding-right: 500px;
  box-sizing: border-box;
}

.scroll-container {
  margin-right: 500px;
}

.content {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  width: 250vw;
  padding-left: 12vw;
  height: 100%;
  position: relative;
  align-items: center;
}

/* Place gallery text on 43rd row and span 2 columns */
.gallery-helper {
  grid-area: 43/1 / span 2 / span 1;
  font-size: 20px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
}

.gallery-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 12em;
  font-weight: 600;
  font-family: neue-haas-unica, sans-serif;
  color: #fbdce2;
  letter-spacing: 50px;
  z-index: 2;
  mix-blend-mode: overlay;
}

.design-item {
  z-index: 1;
  width: 150%;
  height: 150%;
}

.design-item-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.design-item-imginner {
  background-size: cover;
  background-position: center;
  transform-origin: center left;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform: scale(1.1);
  transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1);
}